.imgbox{
}

.imgbox img {
    width: 10vw;
}

// -----------------图片变灰----------------------
.greyscale img {
    filter: grayscale(1);
}

.greyscale img:hover {
    filter: grayscale(0);
}

// -----------------图片模糊----------------------
.blur img {
    filter: url(/static/svg/filter.svg#blur);
    filter: blur(2px);
}

.blur img:hover {
    filter: blur(0);
}

// -----------------图片饱和度----------------------
.saturate img {
    filter: saturate(300%);
}

.saturate img:hover {
    filter: saturate(100%);
}

// -----------------图片老照片----------------------
.sepia img {
    filter: sepia(1);
}

.sepia img:hover {
    filter: sepia(0);
}

// -----------------图片色相旋转----------------------
.hueRotate img {
    filter: hue-rotate(30deg);
}

.hueRotate img:hover {
    filter: hue-rotate(0);
}

// -----------------图片反相/底片效果----------------------
.invert img {
    filter: invert(1);
}

.invert img:hover {
    filter: invert(0);
}

// -----------------图片亮度----------------------
.brightness img {
    filter: brightness(50%);
}

.brightness img:hover {
    filter: brightness(100%);
}

// -----------------图片色彩平衡（最亮最暗进行调整）----------------------
.contrast img {
    filter: contrast(0.7);
}

.contrast img:hover {
    filter: contrast(1);
}

// ------------------图片倒影----------------------/
.imgShadow {
    margin-bottom: 20em;
    -webkit-box-reflect: below -8px -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.5)));
}