.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #108ee9;
}

.logo {
    height: 32px;
    line-height: 32px;
    background: rgb(12, 12, 0);
    color: rgb(219, 216, 26);
    border-radius: 6px;
    margin: 16px;
    padding-left: 2em;
}
.headerbar{
    height: 8vh;
    background: #fff;
    padding: 0;
}